<h2>Create New post </h2>

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" >

    <mat-form-field>
      <input matInput
      type="text"
      ngModel
      required
      #title="ngModel"
      placeholder="Post Title"
      name="title">
      <mat-error *ngIf="title.invalid">please enter a post title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
      ngModel
      name="content"
      placeholder="Post Content"
      required
      #content="ngModel"
      matInput >
    </textarea>
    <mat-error *ngIf="content.invalid">please enter a post content</mat-error>

      <button mat-raised-button
      color='primary'
      type="submit"
      >Save post</button>
    </mat-form-field>


  </form>

</mat-card>




<p></p>
